
#input-field:has(input[focused="false"]) span {
    display: none;
}
#input-field:has(input[focused="true"]) span {
    color: red;
    display: flex;
}

/* #input-field:has(input[focused="true"]:valid)span {
    display: none;
}

input:invalid span {
    display: block;
} */

div.language-options select{
    cursor: pointer;
}

.language-options label:after {
    position: absolute;
    content: "";
    right: 12px;
    width: 0;
    height: 0;
    top: 50%;
    transform: translateY(-25%);
    border: 9px solid transparent;
    border-radius: 3px;
    border-color: blueviolet transparent transparent transparent;
    pointer-events: none;
}

.language-options:hover label:after {
    position: absolute;
    content: "";
    right: 12px;
    width: 0;
    height: 0;
    border-color: gray transparent transparent transparent;
    /* color: red!important; */
}

.language-options select option {
    margin: 2px 10px;
}

